<table class="statistics" width="100%">
    <thead>
            <tr class="statistics__header">
                    <th class="statistics__header-value">№</th>
                    <th class="statistics__header-value">Name</th>
                    <th class="statistics__header-value">Purchase Price</th>

                    <th class="statistics__header-value">24h %</th>
                    <th class="statistics__header-value">7d %</th>
                    <th class="statistics__header-value">All time</th>
                    

                    <th class="statistics__header-value">Entry Price</th>
                    <th class="statistics__header-value">Price now</th>

                    <th class="statistics__header-value">Entry Date</th>
                    <th class="statistics__header-value">Volume</th>
                    <th class="statistics__header-value">Market</th>
            </tr>
    </thead>
    <tbody>
            <tr class="statistics__container-values" *ngFor="let item of spotTrade">
                    <td class="statistics__value">{{setSpotTradeNumber()}}</td>
                    <td class="statistics__value">
                            <div class="statistics__value-currency"> 
                                    <img class="statistics__value-img" src="https://s2.coinmarketcap.com/static/img/coins/64x64/2010.png">
                                    <div class="statistics__value-name">
                                            {{item.coin.name}}  
                                    </div>
                                    <div class="statistics__value-short-name">
                                            {{item.coin.symbol}}
                                    </div>
                            </div>
                    </td>
                    <td class="statistics__value">{{item.coin.purchasePrice}}$</td>

                    <td class="statistics__value">
                           <div class="statistics__value-decrease">
                                <span *nfIf="item.quotes.percent_change_24h > 0" class="statistics__value-increase-icon"></span>
                                <span *nfIf="!item.quotes.percent_change_24h > 0" class="statistics__value-decrease-icon"></span>
                                   {{item.quotes.percent_change_24h | number: '.1-2'}}%
                           </div>
                    </td>
                    <td class="statistics__value color">
                            <div class="statistics__value-increase">
                                <span *nfIf="item.quotes.percent_change_7d > 0" class="statistics__value-increase-icon"></span>
                                <span *nfIf="!item.quotes.percent_change_7d > 0" class="statistics__value-decrease-icon"></span>
                                {{item.quotes.percent_change_7d | number: '.1-2'}}%
                            </div>
                    </td>
                    <td class="statistics__value color">
                            <div class="statistics__value-increase">
                                <span *nfIf="item.quotes.percent_change_all_time > 0" class="statistics__value-increase-icon"></span>
                                <span *nfIf="!item.quotes.percent_change_all_time > 0" class="statistics__value-decrease-icon"></span>
                                {{item.quotes.percent_change_all_time | number: '.1-2'}}%
                            </div>
                    </td>
                    

                    <td class="statistics__value">{{item.coin.entryPrice}}$</td>
                    <td class="statistics__value">{{item.quotes.price | number: '.1-5'}}$</td>

                    <td class="statistics__value">{{item.coin.entryDate | date:"dd/MM/yyyy"}}</td>
                    <td class="statistics__value">{{item.coin.volume}}</td>
                    <td class="statistics__value">{{item.coin.market}}</td>
            </tr>
    </tbody>
</table>
