<table class="statistics" width="100%">
    <thead>
            <tr class="statistics__header">
                    <th class="statistics__header-value">№</th>
                    <th class="statistics__header-value">Name</th>
                    <th class="statistics__header-value">Purchase Price</th>

                    <th class="statistics__header-value">24h %</th>
                    <th class="statistics__header-value">7d %</th>
                    <th class="statistics__header-value">All time</th>
                    

                    <th class="statistics__header-value">Entry Price</th>
                    <th class="statistics__header-value">Price now</th>

                    <th class="statistics__header-value">Entry Date</th>
                    <th class="statistics__header-value">Volume</th>
                    <th class="statistics__header-value">Market</th>
            </tr>
    </thead>
    <tbody>
            <tr class="statistics__container-values">
                    <td class="statistics__value">1</td>
                    <td class="statistics__value">
                            <div class="statistics__value-currency"> 
                                    <img class="statistics__value-img" src="https://s2.coinmarketcap.com/static/img/coins/64x64/2010.png">
                                    <div class="statistics__value-name">
                                            Cardano   
                                    </div>
                                    <div class="statistics__value-short-name">
                                            ADA
                                    </div>
                            </div>
                    </td>
                    <td class="statistics__value">50$</td>

                    <td class="statistics__value">
                           <div class="statistics__value-decrease">
                                   <span class="statistics__value-decrease-icon">

                                   </span>
                                    2.09%
                           </div>
                    </td>
                    <td class="statistics__value color">
                            <div class="statistics__value-increase">
                                    <span class="statistics__value-increase-icon"></span>
                                    7.3%
                            </div>
                    </td>
                    <td class="statistics__value color">
                            <div class="statistics__value-increase">
                                    <span class="statistics__value-increase-icon"></span>
                                    20.46%
                            </div>
                    </td>
                    

                    <td class="statistics__value">2.150$</td>
                    <td class="statistics__value">2.345$</td>

                    <td class="statistics__value">10/30/2021</td>
                    <td class="statistics__value">19.4</td>
                    <td class="statistics__value">Binance</td>
            </tr>
    </tbody>
</table>
