
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name currency</mat-label>
            <input type="text" matInput>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Purchase price</mat-label>
            <input type="number" matInput placeholder="0" min="0" step="0.01">
          </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Entry price</mat-label>
            <input type="number" matInput placeholder="0" min="0" step="0.0001">
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Amount</mat-label>
            <input type="number" matInput placeholder="0" min="0">
          </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Market</mat-label>
            <input type="text" matInput>
          </mat-form-field>
    </div>