<div class="info-rate">
        <div class="info-rate__data">
                <div class="info-rate__title">
                        Trending Rate
                </div>
                <div class="info-rate__container-currency">
                        <div class="info-rate__currency">
                                <div class="info-rate__currency-number"> 
                                        1
                                </div>
                                <div class="info-rate__currency-name">
                                        TABOO TOKEN
                                </div>
                                <div class="info-rate__currency-percent">
                                        30.74%
                                </div>
                        </div>
                        <div class="info-rate__currency">
                                <div class="info-rate__currency-number"> 
                                                1
                                </div>
                                <div class="info-rate__currency-name">
                                                TABOO TOKEN
                                </div>
                                <div class="info-rate__currency-percent">
                                                30.74%
                                </div>
                                </div>
                                <div class="info-rate__currency">
                                <div class="info-rate__currency-number"> 
                                                1
                                </div>
                                <div class="info-rate__currency-name">
                                                TABOO TOKEN
                                </div>
                                <div class="info-rate__currency-percent">
                                                30.74%
                                </div>
                                </div>
                </div>
        </div>
        <div class="info-rate__data">
                <div class="info-rate__title">
                        Trending Rate
                </div>
                <div class="info-rate__currency">

                </div>
        </div>
        <div class="info-rate__data">
                <div class="info-rate__title">
                        Trending Rate
                </div>
                <div class="info-rate__currency">

                </div>
        </div>
</div>

<spot-trade-table></spot-trade-table>


